---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/ethereum/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"ethereum\", \n        \"name\": \"Ethereum\",
        \n        \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n        \"price_usd\":
        \"415.163\", \n        \"price_btc\": \"0.0561652\", \n        \"24h_volume_usd\":
        \"1355760000.0\", \n        \"market_cap_usd\": \"40934949275.0\", \n        \"available_supply\":
        \"98599705.0\", \n        \"total_supply\": \"98599705.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"-0.38\", \n        \"percent_change_24h\":
        \"7.59\", \n        \"percent_change_7d\": \"-8.47\", \n        \"last_updated\":
        \"1522802353\"\n    }\n]"
  recorded_at: Wed, 04 Apr 2018 00:44:21 GMT
recorded_with: VCR 4.0.0
