---
http_interactions:
- request:
    method: get
    uri: https://api.coinmarketcap.com/v1/ticker/ethereum/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: "[\n    {\n        \"id\": \"ethereum\", \n        \"name\": \"Ethereum\",
        \n        \"symbol\": \"ETH\", \n        \"rank\": \"2\", \n        \"price_usd\":
        \"406.309\", \n        \"price_btc\": \"0.05523\", \n        \"24h_volume_usd\":
        \"1276100000.0\", \n        \"market_cap_usd\": \"40063800752.0\", \n        \"available_supply\":
        \"98604266.0\", \n        \"total_supply\": \"98604266.0\", \n        \"max_supply\":
        null, \n        \"percent_change_1h\": \"0.3\", \n        \"percent_change_24h\":
        \"2.12\", \n        \"percent_change_7d\": \"-10.54\", \n        \"last_updated\":
        \"1522822453\"\n    }\n]"
  recorded_at: Wed, 04 Apr 2018 06:19:52 GMT
recorded_with: VCR 4.0.0
