---
http_interactions:
- request:
    method: get
    uri: https://mastodon.social/.well-known/webfinger?resource=acct:hstove@mastodon.social
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jrd+json; charset=utf-8
      Etag:
      - W/"393d7215ed553b400cca265ff42662fa"
    body:
      encoding: UTF-8
      string: '{"subject":"acct:hstove@mastodon.social","aliases":["https://mastodon.social/@hstove","https://mastodon.social/users/hstove"],"links":[{"rel":"http://webfinger.net/rel/profile-page","type":"text/html","href":"https://mastodon.social/@hstove"},{"rel":"http://schemas.google.com/g/2010#updates-from","type":"application/atom+xml","href":"https://mastodon.social/users/hstove.atom"},{"rel":"self","type":"application/activity+json","href":"https://mastodon.social/users/hstove"},{"rel":"salmon","href":"https://mastodon.social/api/salmon/292391"},{"rel":"magic-public-key","href":"data:application/magic-public-key,RSA.txRTVA7Su8N2H-C10irth8bP5aXd4HAyM1c4LIHh2M_fd10j2578Kups4-V4ufwwF18ICzGrljZgyvh4jxtctRmtI8hVWpA1YI648Zl5ldvKoW_sNPbWG4rnOlWNrjWaBeTX6Xh5et0319GhyLRkRA8UB04E1PljSRz-9QA5V03LYQi5YDFSemPIBhXsgiz4xfYFRoT37zRqp6bmAfskfjW-60HF6eNSDGRhBoVyJwhYhyr-VPbhu0j7FXWAwQBgcquZZvq8zf2ehzDjFf0yZeHUjC0rQH68Bb5mO0gd8T8Wtfy8taovIdPAOSsG57TpLhjwAPePy8JNgZykw3M72w==.AQAB"},{"rel":"http://ostatus.org/schema/1.0/subscribe","template":"https://mastodon.social/authorize_follow?acct={uri}"}]}'
  recorded_at: Sun, 01 Apr 2018 23:36:00 GMT
- request:
    method: get
    uri: https://mastodon.social/users/hstove
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/activity+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/activity+json; charset=utf-8
      Link:
      - <https://mastodon.social/.well-known/webfinger?resource=acct%3Ahstove%40mastodon.social>;
        rel="lrdd"; type="application/xrd+xml", <https://mastodon.social/users/hstove.atom>;
        rel="alternate"; type="application/atom+xml", <https://mastodon.social/users/hstove>;
        rel="alternate"; type="application/activity+json"
      Etag:
      - W/"509ab054179517674e62ad06037060bc"
    body:
      encoding: UTF-8
      string: '{"@context":["https://www.w3.org/ns/activitystreams","https://w3id.org/security/v1",{"manuallyApprovesFollowers":"as:manuallyApprovesFollowers","sensitive":"as:sensitive","movedTo":"as:movedTo","Hashtag":"as:Hashtag","ostatus":"http://ostatus.org#","atomUri":"ostatus:atomUri","inReplyToAtomUri":"ostatus:inReplyToAtomUri","conversation":"ostatus:conversation","toot":"http://joinmastodon.org/ns#","Emoji":"toot:Emoji","focalPoint":{"@container":"@list","@id":"toot:focalPoint"},"featured":"toot:featured"}],"id":"https://mastodon.social/users/hstove","type":"Person","following":"https://mastodon.social/users/hstove/following","followers":"https://mastodon.social/users/hstove/followers","inbox":"https://mastodon.social/users/hstove/inbox","outbox":"https://mastodon.social/users/hstove/outbox","featured":"https://mastodon.social/users/hstove/collections/featured","preferredUsername":"hstove","name":"Hank","summary":"\u003cp\u003e\u003c/p\u003e","url":"https://mastodon.social/@hstove","manuallyApprovesFollowers":false,"publicKey":{"id":"https://mastodon.social/users/hstove#main-key","owner":"https://mastodon.social/users/hstove","publicKeyPem":"-----BEGIN
        PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtxRTVA7Su8N2H+C10irt\nh8bP5aXd4HAyM1c4LIHh2M/fd10j2578Kups4+V4ufwwF18ICzGrljZgyvh4jxtc\ntRmtI8hVWpA1YI648Zl5ldvKoW/sNPbWG4rnOlWNrjWaBeTX6Xh5et0319GhyLRk\nRA8UB04E1PljSRz+9QA5V03LYQi5YDFSemPIBhXsgiz4xfYFRoT37zRqp6bmAfsk\nfjW+60HF6eNSDGRhBoVyJwhYhyr+VPbhu0j7FXWAwQBgcquZZvq8zf2ehzDjFf0y\nZeHUjC0rQH68Bb5mO0gd8T8Wtfy8taovIdPAOSsG57TpLhjwAPePy8JNgZykw3M7\n2wIDAQAB\n-----END
        PUBLIC KEY-----\n"},"endpoints":{"sharedInbox":"https://mastodon.social/inbox"},"icon":{"type":"Image","mediaType":"image/jpeg","url":"https://files.mastodon.social/accounts/avatars/000/292/391/original/b7345e5d5ef91433.jpg"},"image":{"type":"Image","mediaType":"image/jpeg","url":"https://files.mastodon.social/accounts/headers/000/292/391/original/bd5658effbabebe8.jpg"}}'
  recorded_at: Sun, 01 Apr 2018 23:36:01 GMT
recorded_with: VCR 4.0.0
