= javascript_pack_tag "application"
= stylesheet_pack_tag "application"
#js-messages{ data: render(partial: 'home.json.jbuilder', locals: { :messages => @messages }) }
- content_for :container_fluid, true