- content_for(:title, "Get Started")
= javascript_pack_tag "login-pack"
-# = stylesheet_pack_tag "login-pack"
#js-login
-# #js-user{ data: render(partial: 'account_page.json.jbuilder', locals: { messages: @messages, account: @account }) }